h1,p {
    font-family: "helvetica";
    color: silver;
    letter-spacing: .4px;
    line-height: 120%;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.1rem;
    font-weight: lighter;
    }

.divInt {
    position: fixed;
    inset: 0;
    height: fit-content;
    margin: auto;
    padding: 50px;
    }
    
 .divExt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
      }